@media screen and (max-width:576px) {
    /* header section start here */
    .bg-color{
        width: 100%;
        
    }
    .nav-container{
        display: none;
    }
    .nav-hamberger-menue{
        display: block;
        
    }
    
    .img-container{
        
        display: flex;
        flex-direction: column;
    }
    .banner{
        flex-direction: column;
        max-width: 100%;
    }
    .token-1{
    position: absolute;
    top: 70%;
    right: 60%;
    }
    .token-2{
        position: absolute;
    bottom: 30%;
    left: 50%;
    }
    /* header section end here */
    .habit-containers{
        flex-direction: column;
    }
    .miles{
        flex-direction: column;
    }
    .run-img>img {
        margin-top: 31px;
    }
}