@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* shared styles */
.display-flex {
    display: flex;
}

.body-color {
    background-color: black;
}

.primary-color {
    color: rgb(230, 83, 60);
}

.secondary-color {
    color: white;
}

.light-gray {
    color: rgba(255, 255, 255, 0.5);
}

.btn-primary {
    border-radius: 42px;
    font-size: 1rem;
    font-weight: 600;
    background: rgb(230, 83, 60);
    padding: 16px 40px;
    border: none;
}


/* header styles */
/* navbar css starts here */
nav {
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 10px;
}

.nav-title {
    font-size: 2.25rem;
    font-weight: 800;

}

.nav-container {

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 38px;
    align-items: center;
}

.navbar {

    font-size: 1rem;
    font-weight: 400;
    list-style: none;
    gap: 47px;
    margin: 14px;
    padding: 0;
}

.nav-links {
    text-decoration: none;
}

#btn {

    border-radius: 46px;
    background: rgb(230, 83, 60);
    font-size: 1rem;
    font-weight: 600;
    padding: 8px 20px;
}

.nav-hamberger-menue {
    display: none;

}

/* navbar css ends here */
/* banner css start here */
.bg-color {
    width: 100%;
    background: linear-gradient(-180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
}

.banner {
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

}

.banner-title {
    font-size: 4.75rem;
    font-weight: 900;

}

#title-shape {
    font-size: 4.75rem;
    font-weight: 150;
}

.banner-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 28px;
}

.btn-download {
    border: 2px solid white;
    border-radius: 42px;
    font-size: 1rem;
    font-weight: 600;
    background-color: none;
    padding: 16px 40px;
}

.btns {
    gap: 24px;
}


.token-1 {
    width: max-content;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background-color: rgba(48, 48, 48, 0.185);
    font-size: 1.5rem;
    font-weight: 900;
    padding: 20px 20px;
    position: absolute;
    top: 60%;
    right: 80%;

}

.tutorial {
    font-size: 1rem;
    font-weight: 400;

}

.token-2 {
    width: max-content;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background-color: rgba(48, 48, 48, 0.185);
    font-size: 2.5rem;
    font-weight: 900;
    padding: 17px 24px;
    position: absolute;
    bottom: 40%;
    left: 70%;

}

.img-container {
    position: relative;
}


/* habits styles here */

.habit {
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;
}

.habit-title,
.miles-title,
.team-title, .bmi-title {

    font-size: 3rem;
    font-weight: 900;
}

.habit-containers {
    justify-content: space-between;
    margin-top: 54px;
}

.habit-description,
.container-description,
.miles-description,
.team-description, .bmi-description {

    font-size: 1rem;
    font-weight: 400;

}


.habit-img {
    border: 2px solid rgb(63, 63, 63);
    border-radius: 100%;

}

.container-title {

    font-size: 1.125rem;
    font-weight: 600;

}

/* run miles styles here */
.miles {
    justify-content: space-between;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
    padding: 30px 32px;
    margin-top: 100px;
    margin-bottom: 88px;
}

.run-img>img {
    width: 100%;
    border-radius: 18px;
}

/* BMI Calculator styles here */
.bmi-details{
    text-align: center;
}
.bmi-container {
    background-color: rgb(34, 34, 34);
    padding: 52px 0;
    margin-top: 88px;
}

/* table section */
.bmi-table-form {
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
}

.chart table {
    border-collapse: collapse;
}


.chart-table,
.form-title {

    font-size: 1.8rem;
    font-weight: 900;

}

thead {
    font-size: 1rem;
    font-weight: 500;

}

td,
th {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 13px 18px;
    font-size: 1rem;
    font-weight: 400;
}

/* form section */
.form-description {
    font-size: 1rem;
    font-weight: 400;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    column-gap: 50px;
    row-gap: 12px;
    margin: 34px 0;
}



input{
    padding: 13px 20px;
    border-radius: 8px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    
}
form :nth-child(5){
    grid-column: span 2;
}









/* teams styles here */
.teams {
    text-align: center;
    margin-top: 88px;
}

.team-1>img {
    width: 100%;
    border-radius: 18px;
    height: 272px;
}

.team-1 {
    position: relative;
}

.team-name {
    position: absolute;
    top: 65%;
    left: 5%;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: left;

}

.team-identity {
    font-size: 14px;
    font-weight: 400;
}

.teams-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;

}

.team-description {
    margin-bottom: 58px;
}

/* footer style here */
footer {
    background: rgba(255, 255, 255, 0.1);
    margin-top: 88px;
}

.footer-containers {
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 66px;
}

.logo-title {
    font-size: 4.375rem;
    font-weight: 800;
}

.logo-description {
    font-size: 1rem;
    font-weight: 400;
}

.menus-title {

    font-size: 2rem;
    font-weight: 700;

}

.menus-nav {

    font-size: 1.5rem;
    font-weight: 400;
}

.reserved {
    max-width: 1440px;
    margin: 0 auto;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
    padding: 36px 0;
    margin-top: 78px;

}